.favorite-verse-container {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.favorite-verse-container .favorite-verse-text p {
    font-weight: bold;
}

.favorite-verse-container .favorite-verse-id p {
    font-style: italic;
}