@mixin occupy-space {
    width: 100%;
    height: 100%;
}

@mixin center-children {
    justify-content: center;
    align-items: center;
}

.footer-container {
    @include occupy-space;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 'main time';
    z-index: 15;
    // box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
    .main-footer {
        @include occupy-space;
        @include center-children;
        grid-area: main;
        display: flex;
    }

    .time-container {
        @include occupy-space;
        @include center-children;
        grid-area: time;
        display: flex;
    }
}

